<ion-view view-title="Categorias">
  <ion-content class="has-footer" >



	<div ng-show="principal">
		<label class="item item-input">
	    <i class="icon ion-search placeholder-icon"></i>
	    <input type="text" placeholder="Buscar restaurante" ng-model="restaurantName">
	  </label>

		<div ng-if="restaurantName.length == 0">
			<div ng-repeat="categorie in categories" href="#">
		  	<ion-list>
		      	<ion-checkbox ng-click="categoriaClick( categorie.id )">{{ categorie.nombre }}</ion-checkbox>
		    </ion-list>
		  </div>
		</div>

		<div ng-if="restaurantName.length > 0">
				<div ng-repeat="restautant in restaurantes | filter:restaurantName">
					<a class="item item-thumbnail-left" href="#">
		      	<img src="">
		      	<h2> {{ restautant.nombre }} </h2>
		      	<p> {{ restautant.eslogan }} </p>
		    	</a>
				</div>
		</div>

		  
		<div ng-if="restaurantName.length == 0">
		  	<button class="button button-full button-positive" ng-click="restauranteAleatorio()">
		  		GO
				</button>
		</div>
	</div>



		<div ng-show="restaurantRand">

			<div class="list card">
			  <div class="item item-image">
			    <img src="cover.jpg">
			  </div>
			</div>

			<a class="item item-avatar" href="#">
	      <img src="venkman.jpg">  <!-- imagen de la categoria que se seleccionó aleatoriamente -->
	      <h2> {{ restAleatorio.nombre }} </h2>
	      <p> {{ restAleatorio.horarioInicio }} - {{ restAleatorio.horarioFinal }} </p>
	    </a>

			<!-- lista de las promociones que tiene el restaurante -->
	    <div class="list list-inset">
	    	<div ng-repeat="promo in promocionesRestA" href="#">
			    <div class="item">
			      <h2>{{ promo.nombre }} // {{promo.tipo_promocion}}</h2>
						<p> {{ promo.detalles }} </p>
			    </div>
			  </div>
			</div>
		</div>

  </ion-content>


</ion-view>

